{% extends 'base.html' %}
{% block title %}
    Create category {# Назва у вкладці #}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Category</h1>
        <br>
     <div class="form-control">
    {#<div class="mb-3">#}
        <form method="POST">
            {% csrf_token %} {# csrf захист від викрадання інформації #}
            {{ form.as_p }} {# as_p це типу форма обернута в тег <p>   #}
        <button class="btn btn-primary" style="background-color: #6f42c1;">Add category</button>
        </form>
    </div>
{% else %}

Only authorised users can edit posts
{% endif %}
{% endblock %}