{% extends 'base.html' %}

{% block content %}

{% if category_posts %}
    <h1>{{ cats }}</h1>
    <ul>
    {% for post in category_posts %}
        <div class="card border-4 p-3 mb-3" style="width: 45rem; border-color: #6f42c1;">
              <div class="card-body">
                <div class="card-header bg-transparent " style="background-color: #6f42c1;">
                    <h4><a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a></h4>
                </div>
                  <br>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.category }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">
                       by: {{ post.author.first_name }}
                        {{ post.author.last_name }} -
                        {{ post.post_date }}
                  </h6>
                  <br>
                <p class="card-text">{{ post.snippet }}</p>
                <div class="card-footer bg-transparent border-info">
                    {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                      <small>
                        <a href="{% url 'update_post' post.pk %}">edit</a>
                        <a href="{% url 'delete_post' post.pk %}">delete</a>
                    {% endif %}
                    {% endif %}
                      </small>
                </div>
                {{ post.body | slice:":500" | safe}}

              </div>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <h2>This page does not exist</h2>
{% endif %}

{% endblock %}