{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Post list</h1>

<div>
        <ul>
        {% for post in object_list %}
            <div class="card border-4 p-3 mb-3" style="width: 45rem; border-color: #6f42c1;">
              <div class="card-body">
                <div class="card-header bg-transparent " style="background-color: #6f42c1;">
                    <h4><a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a></h4>
                </div>
                  <br>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.category }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">
                   {% if post.author.profile %}
                        {% if post.author.profile.profile_pic %}
                            <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-circle" alt="..." width="50" height="50">
                        {% else %}
                            <img src="{% static 'theblog/images/def_pic.png' %}" class="img-fluid rounded-circle" alt="..." width="50" height="50">
                        {% endif %}
                     {% else %}
                        <img src="{% static 'theblog/images/def_pic.png' %}" class="img-fluid rounded-circle" alt="..." width="50" height="50">
                     {% endif %}
                     by: {{ post.author.first_name }}
                        {{ post.author.last_name }}
                        <br><br>
                        {{ post.post_date|date:"d M Y H:i" }}
                  </h6>
                  <br>
                <p class="card-text">{{ post.snippet }}</p>
                <div class="card-footer bg-transparent border-info">
                    {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                      <small>
                        <a href="{% url 'update_post' post.pk %}">edit</a>
                        <a href="{% url 'delete_post' post.pk %}">delete</a>
                    {% endif %}
                    {% endif %}
                      </small>
                </div>
                {{ post.body | slice:":300" | safe}}

              </div>
        </div>
        {% endfor %}
            <br><br><br><br>
        </ul>
    </div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{ num }} <span class="sr-only"></span></span>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
